<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=" class="py-3 py-md-5 py-xl-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fonte.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet" />

</head>

<body>

  <%- include ('navbar') %> <br><br><br><br>

      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <h2 class="mb-4 display-5 text-center">Sobre Nós</h2>
            <p class="text-secondary mb-5 text-center lead fs-4">Bem-vindo ao Artè, o seu portal definitivo para explorar a rica tapeçaria da arte e cultura ao seu redor. Criado em 2024, o Artè nasceu da paixão por conectar pessoas às experiências artísticas e culturais mais vibrantes e inspiradoras. Nosso objetivo é aproximar você das oportunidades culturais que enriquecem e transformam a vida.</p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
          </div>
        </div>
      </div>
    
      <div class="container">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6">
            <img class="img-fluid rounded border border-dark" loading="lazy" src="./images/logo6.png" alt="About Us">
          </div>
          <div class="col-12 col-lg-6 col-xxl-6">
            <div class="row justify-content-lg-end">
              <div class="col-12 col-lg-11">
                <div class="about-wrapper">
                  <h2 class="mb-4 display-5 text-center">Saiba Mais</h2>
                  <p class="lead mb-4 mb-md-5">Nossa Missão: <br>
                    No Artè, acreditamos que a cultura deve ser acessível a todos. Nossa missão é oferecer uma plataforma intuitiva e abrangente onde você pode descobrir, explorar e adicionar eventos culturais à sua agenda personalizada. Seja um espetáculo de teatro, uma exibição de arte ou um show imperdível, estamos aqui para garantir que você esteja sempre no coração da ação cultural.<br>
                    Conectando Culturas: <br>
                    Valorizamos a diversidade e a criatividade. No Artè, você encontrará uma variedade de eventos que celebram diferentes formas de expressão cultural. Nosso propósito é ser o seu guia na jornada de descoberta, aprendizado e vivência da arte de forma mais profunda e significativa.
                    
                    </p>
                  <div class="row gy-4 mb-4 mb-md-5">
                    <div class="col-12 col-md-6">
                      <div class="card border border-dark">
                        <div class="card-body p-4">
                          <h3 class="display-5 fw-bold text text-center mb-2">370+</h3>
                          <p class="fw-bold text-center m-0">Pessoal envolvidas</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="card border border-dark">
                        <div class="card-body p-4">
                          <h3 class="display-5 fw-bold text text-center mb-2">2k+</h3>
                          <p class="fw-bold text-center m-0">Artistas e profissionais</p>
                        </div>
                      </div>
                    </div>
                  </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <title>Document</title>

    <footer>
      <%- include ('footer') %>
    </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>